<div id="contact" class="contact-area pt-125" >
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 pt-3">
                <div class="contact-wrap">
                    <!-- Contact Form -->
                    <form id="contact-form" class="form contact-form">
                        <div class="row">
                            <h3>Canteen  Form</h3>
                            <div class="form-group col-12 mt-4">
                                <input type="text" name="con_text" class="form-control" id="text"
                                    placeholder="Enter title of your event" required="required">
                            </div>
                            <div class="form-group col-12 mt-4">
                                <input type="text" name="con_text" class="form-control" id="text"
                                    placeholder="Enter the total number of participants" required="required">
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group description col-12 mbnone mt-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Veg
                                            </label>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group description col-12 mbnone mt-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Non veg 
                                            </label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group description col-12 mbnone mt-4">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choose here your menu</option>
                                    <option value="1">Breakfast</option>
                                    <option value="2">Lunch</option>
                                    <option value="3">Dinner</option>
                                  </select>
                            </div>
                            <div class="form-group description col-12 mbnone mt-4">
                                <textarea rows="2" name="con_message" class="form-control" id="description"
                                    placeholder="Enter Details of your Food" required="required"></textarea>
                            </div> 
                            
                            
                            <div class="col-12 mt-4">
                                <div class="actions text-center">
                                    <button type="submit" name="submit" class="btn btn-lg btn-contact-bg"
                                        title="Submit Your Message!">Submit</button>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                    <!-- Contact Form -->
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>