<section id="pricing" class="pricing-area pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading pb-55 text-center">
                    <h2>Admin section</h2>
                    <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de
                        standaard proeftekst in deze bedrijfstak sinds.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="pricing-single white-bg text-center mb-30" *ngFor="let d of Data">
                    <div class="price-titel uppercase">
                        <h4>{{d.eventTitle}}</h4>
                    </div>
                    <br><br>
                    <span class="pricing-price ">{{d.eventDesc}}</span>
                    <br><br>
                    <div class="price-decs pt-3">
                        <div class="row">
                            <div class="col-md-3">
                               STARTING TIME-{{d.eventStime}}
                            </div>
                            <div class="col-md-3">
                                ENDING TIME-{{d.eventEtime}}
                            </div>
                            <div class="col-md-3">
                                DATE-{{d.eventDate}}
                            </div>
                            <div class="col-md-3">
                                PLACE-{{d.eventDesc}}
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ordr-btn uppercase">
                                <a href="#">Approve</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ordr-btn uppercase">
                                <a href="#">Update</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ordr-btn uppercase">
                                <a href="#">Delete</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ordr-btn uppercase">
                                <a href="#">Tweet</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<app-stats></app-stats>