<div id="contact" class="contact-area pt-125">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-lg-9 pt-3">
                <div class="contact-wrap">
                    <!-- Contact Form -->
                    <form id="contact-form" class="form contact-form">
                        <div class="row">
                            
                            <div class="form-group col-12 mt-4">
                                <input type="email" name="con_email" class="form-control" id="email"
                                    placeholder="Email" required="required">
                            </div>
                            <div class="form-group col-12 mt-4">
                                <input type="password" name="con_email" class="form-control" id="email"
                                    placeholder="Password" required="required">
                            </div>
                            <div class="col-12 mt-4">
                                <div class="actions text-center">
                                    <button type="submit" name="submit" class="btn btn-lg btn-contact-bg"
                                        title="Submit Your Message!">Submit</button>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <p class="text-center">Don't have an account ? <a routerLink="/signup">Sign up</a></p>
                        </div>
                    </form>
                    <!-- Contact Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>