
<section id="team" class="team-area ptb-130">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading pb-55 text-center">
                    <h2>Lovely Team Member</h2>
                    <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de
                        standaard proeftekst in deze bedrijfstak sinds.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-single">
                    <img src="assets/img/team/1.webp" alt="" />
                    <div class="team-overlay text-center">
                        <h5>SNishi</h5>
                        <h6>Lovely Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single">
                    <img src="assets/img/team/2.webp" alt="" />
                    <div class="team-overlay text-center">
                        <h5>Nishi</h5>
                        <h6>Lovely Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single">
                    <img src="assets/img/team/3.webp" alt="" />
                    <div class="team-overlay text-center">
                        <h5>Nishi</h5>
                        <h6>Lovely Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single">
                    <img src="assets/img/team/4.webp" alt="" />
                    <div class="team-overlay text-center">
                        <h5>Nishi</h5>
                        <h6>Lovely Designer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
