<section id="pricing" class="pricing-area pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading pb-55 text-center">
                    <h2>Statistics section</h2>
                    <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de
                        standaard proeftekst in deze bedrijfstak sinds.</p>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

    <section class="funfact-area bg-2 pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-fact text-center">
                        <h2 class="counter">200</h2>
                        <h5>Downloads</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-fact text-center">
                        <h2 class="counter">1000</h2>
                        <h5>Active Installs</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-fact text-center">
                        <h2 class="counter">80</h2>
                        <h5>Happy Clients</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-fact text-center">
                        <h2 class="counter">100</h2>
                        <h5>Total App Rat</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container pt-125">
    <div style="width:100%;">
        <canvas id="myChart" width="700" height="250" #mychart></canvas>
     </div>
</div>
<br><br><br><br>