<div class="containerStyle mt-5 pt-125">
    <section class="pt-125">
      <!-- <h1 style="text-align: center">HOME RENTAL SYSTEM</h1> -->
      <!-- <h1 style="text-align: center; margin-bottom: 10px">
        User Logged In: {{ isLoggedIn }}
      </h1> -->
      <div class="loggedin pt-125" *ngIf="isLoggedIn">
        <div style="text-align: start">
          <h2>User Successful Login</h2>
          <p style="margin: 10px 0">UserId: {{ userPayload.user_id }}</p>
          <p>Verification Token: {{ userPayload.verification_token }}</p>
        </div>
      </div>
      <div class="formContainer" id="sawo-container" *ngIf="!isLoggedIn"></div>
    </section>
  </div>