<app-nav></app-nav>

<!-- hero area start -->
<div class="hero-area parallax slider-1" id="slider-area">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="offset-md-4 col-md-8">
                    <div class="hero-text mr-ri-l">
                        <h1> All solution Head</h1>
                        <p>Nulla aliquet, erat a egestas lacinia, leo libero dapibus nisl, quis pulvinar dolor justo
                            id turpis. Nulla odio orci.</p>
                        <a href="#" class="hero-btn">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>